* {
    box-sizing: border-box;
}
body {
    background-image: url(./tinderbg.webp) ;
}
.container {
    display: flex;
    justify-content:flex-start;
    gap: 20px;
    color: white;

}
.secondary {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    color: white;
}
.center {
    font-size:xx-large;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    color: white;
}
.account {
    display: flex;
    justify-content: center;
    color: white;
    border: 1px palevioletred solid;
    background-size: auto;
}