* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav {
    background-color: powderblue;
    display: flex;
    justify-content: flex-end;
}
nav a {
    color: #f0f0f0;
    padding: 8px;
    text-decoration: none;
    background-color: palevioletred;
}
nav a:hover {
    background-color: lightgreen
    color(red)
}
@media (max-width : 1200px) {
 nav {
    justify-content: center;

 }
}
@media (max-width : 1000px) {
    nav {
        justify-content: space-between;
    }
}
@media (max-width : 800px) {
    nav {
        flex-direction: column;
        gap: 0;
    }
}
nav a {
    border-bottom: solid 1px gray;
}